
    body{
        background-color:rgb(255, 0, 242);
        }

         h1{
            color:rgb(23, 24, 23) ;
            font-family:Arial;
            background: ;
            font-size: 30px;
            }


            p {
                color: rgb(83, 57, 0);
                text-align: center;
                font-size:  20px;
                background: ; 
                }
                
            #capibara {
                width: 70%;
            }
            