p {
    color: rgb(83, 57, 0);
    text-align: center;
    font: size 30px;;
    }
    body{
        background-color:rgb(9, 255, 0)
        }
         h1{
            color:rgb(23, 24, 23) ;
            font-family:Arial;
            background: ;
            font-size: 30px;
            }

            #capibara {
                width: 70%;
            }
            